%p= link_to invitation_url(@invitation), invitation_url(@invitation)

%p Hi #{@invitation.name}, welcome to Any Questions!

%p Here's a few things to know before you start using the site:

%p
  Everything happens on the
  = link_to "home page", "https://anyquestions.scoop.co.nz"
= "."
  Go there to see the top questions of the last few days. Click on a question to
  answer it. You can answer any questions that your party hasn't answered yet. Just
  bear in mind that your party can only give one answer to each question, so think
  about whether you’re the best person to be answering.

%p
  We'll send you email reminders if there are any really popular questions relating
  to your particular area of expertise.

%p
  You can invite more people to answer questions on behalf of the
  = @invitation.invitable.name
  by visiting your party's page
  = link_to "here", party_url(@invitation.invitable)
  and clicking "Invite spokespeople".

%p
  Finally, thank you! Every answer you contribute sends a clear message to young
  New Zealanders that you care about what they have to say. Good on you, and we
  hope you enjoy using the site. Also, if you ever have any questions or concerns,
  don't hesitate to email us (jan@scoop.co.nz).

 

 
